.transition {
    transition: all 0.2s ease-in;
  }
  
  .dashboard-body {
    display: flex;
    background-color: #202020;
  }
  
  .dashboard-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
  }
  
  .es-intro {
    display: flex;
    justify-content: space-between;
  }
  
  .custom-modal {
    position: fixed;
    max-width: none;
    width: 1300px;
    height: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    margin-left: -650px;
  }
  
  .custom-modal .modal-dialog {
    height: 100%;
    margin: 0;
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-group {
    display: flex;
    flex-direction: row;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-dark {
    margin: 0 4px;  
    padding: 8px;
  }

  .view-btn {
    border: none;
    outline: none;
    border-radius: 5px !important;
  }

  .view-btn:hover {
    background-color: rgb(88, 225, 249) !important;
    border-color: rgb(88, 225, 249) !important;
  }
  
