backend/po-management/src/main/resources/application.properties
backend/po-management/target
backend/.DS_Store
.DS_Store
backend/po-management/firebaseKey.json
firebase-key.json
frontend(not actual)/node_modules
.vscode
