.dashboard-body {
    display: flex;
    background-color: #202020;
}

.dashboard-content {
    background-color: white;
    padding: 2rem;
    width: 90vw;
    height: 90vh;
    max-height: 90vh;
    border-radius: 1rem;
    margin: 0px 30px;
    overflow: auto;
    align-self: center;
    box-shadow: inset 0 0 10px #00000053;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.dashboard-content::-webkit-scrollbar {
    width: 0.5em;
}


.highlights {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
}

.highlight-3 {
    width: 30%;
    padding: 2rem;
    border-radius: .7rem;
    box-shadow: rgba(99, 99, 99, 0.042) 0px 2px 8px 0px;
    height: 50vh;
}

.highlight-1{
    width: 30%;
    padding: 2rem;
    border-radius: .7rem;
    box-shadow: rgba(99, 99, 99, 0.042) 0px 2px 8px 0px;
    height: 50vh;
}


.highlight-1 {
    background-color: #E5DEF0;
}

.highlight-2 {
    background-color: #D6EDD9;
}

.highlight-3 {
    background-color: #F6F0D8;
}

.po-creation-card {
    background-color: #f1f1f1;
    width: 100%;
    padding: 2rem;
    border-radius: .7rem;
}

.po-tables {
    display: flex;
    justify-content: space-between;
}

.po-table-1,
.po-table-2 {
    background-color: #f1f1f1;
    padding: 2rem;
    width: 47%;
    border-radius: .7rem;
    box-shadow: rgba(99, 99, 99, 0.042) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

h1 {
    font-weight: 200;
}