.dashboard-content {
    background-color: white;
    padding: 2rem;
    width: 90vw;
    height: 90vh;
    max-height: 90vh;
    border-radius: 1rem;
    margin: 0px 30px;
    overflow: auto;
    align-self: center;
    box-shadow: inset 0 0 10px #00000053;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}