.update-invoice-container {
  height: 80vh;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-bottom: -3rem;
}
.update-invoice-model {
  height: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  overflow: auto;
}

.update-invoice-model::-webkit-scrollbar {
  display: none;
}

input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* .invoice-container {
  width: 50%;
} */